#hero-back{
     position: absolute;
    top: 0;
}

header{
  position: relative;
  z-index: 999;
}

.navbar-nav li a { 
color:var(--white);
}
.list-unstyled .nav-link{
  color:var(--black);
}

#blog-detail{
  position: relative;
}

#blog-detail img{
  border-radius: 3rem;
}

p{
  text-align: justify;
  opacity: 1;
}
#join{
  background-color: #FFAD63;
}


.input-form input[type="text"]{
  font-size: 1.4rem;
  background: transparent;
  line-height: 1.6rem;
  color: var(--black);
  border-radius: 2rem;
  padding: 1rem 2rem;
  border: 1px solid var(--black);
  width: 35rem;
  padding-right: 5rem;
}

.input-form form button[type="submit"] {
margin-left: -10.6rem;
width: 10rem;
background: var(--black);
color: var(--white);
border: 0;
padding: 0.4rem 2rem;
border-radius: 2rem;
font-size: 1.6rem;
font-weight: var(--semibold);
}
.input-form form button[type="submit"]:hover{
background: var(--white);
color:var(--black);
border:0;
}

::placeholder{
color:var(--black);
}

input:focus-visible{
  outline: none;
  border: 0;
}

ul li{
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: var(--regular);
  color: var(--black);
  opacity: 1;
}

ul {
  list-style: inside;
  margin-left:2rem;
}
@media(max-width:767px){
  .navbar-nav li a { 
    color:var(--black);
    }

    header{
      background-color: var(--white);
    }

}

@media(max-width:680px) {
  #hero-back img{
   width: 150%;
  }

  .input-form{
    text-align: center;
  }
  #join img{
    margin-bottom:2rem
  }
}