#hero{
  /* height: 100vh; */
}

#hero h1{
  font-size:5.2rem;
}
#number{
  background-color: #020D23;
  padding: 2rem 0rem;
}
h4{
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: var(--medium);
}
.trans-card{
  /* background: #FFFFFF12; */
  padding: 2.4rem 1.6rem;
  /* border-radius: 10px; */
}
.trans-card:hover{
  transform: scale(1.05);
}
.trans-card h1{
  font-size: 4.8rem;
  font-weight: var(--bold);
  color: var(--lightblue);
}
#number{
  position: relative;
}
#number .border-line{
  border-left:1px dashed rgba(255, 255, 255, 0.5);
  border-right:1px dashed rgba(255, 255, 255, 0.5);
  mask-border-repeat:space ;
}

#approach{
  position: relative;
}

/* .sqr1{
  background: url('../img/product-engineering/Rectangle\ 21.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius:3.5rem;
  box-sizing: border-box;
  width: 100%;
  padding: 5rem;
  height: 32rem;
  width: auto;
  overflow: hidden;
}
 */


.sqr1::before{
  content: "";
  background-color: #2256BB;
  border-radius:3.5rem;
  width: 20rem;
  height: 20rem;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  position: absolute;
  flex-wrap: wrap;
}

.sqr1 > *{
  position: relative;
  overflow: hidden;
  padding: 1rem;
  /* transform: rotate(-45deg); */
}


.sqr2::before{
  content: "";
  background-color: #031E39;
  border-radius:3.5rem;
  width: 20rem;
  height: 20rem;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  position: absolute;
  flex-wrap: wrap;
}

.sqr2 > *{
  position: relative;
  overflow: hidden;
  padding: 1rem;
  /* transform: rotate(-45deg); */
}

.sqr3::before{
  content: "";
  background-color: #193975;
  border-radius:3.5rem;
  width: 20rem;
  height: 20rem;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  position: absolute;
  flex-wrap: wrap;
}

.sqr3 > *{
  position: relative;
  overflow: hidden;
  padding: 1rem;
  /* transform: rotate(-45deg); */
}


.square h6{
  font-size: 2rem;
  opacity: 1;
  width: 18rem;
  font-weight: var(--bold);
  /* transform: rotate(-45deg); */
}

.square img{
  /* transform: rotate(-45deg); */
  width: 45%;
}


.square-row{
  margin-top: -1rem;
  padding-bottom: 10rem;
}

.square:hover{
  scale: 1.05;
  transition: 0.1s ease-in;
}
.square p{
  font-size: 1.4rem;
  text-align: center;
  color:var(--white);
}
/* 
.square:hover .static-cont{
  display: none !important;
  transition: 1s ease-in;
}
.square:hover .hover-cont{
  display: block;
 
}
.hover-cont{
  display: none;
} */

#clients{
  background: var(--white);
}

#choose p{
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-align: center;
  padding: 0 3rem;
}

#choose p b{
  opacity: 1;
}

#choose h6{
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: var(--bold);
  text-align: center;
}

.circle-box{
  display: block;
  width: 25%;
}

.round1, .round3{
  background: url('../img/product-engineering/Group\ 53.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50rem;
  height: 40rem;
  margin: 0.5rem;
  overflow: visible;
  padding: 1rem;
}
.round2, .round4{
  background: url('../img/product-engineering/Group\ 54.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50rem;
  height: 40rem;
  margin: 0.5rem;
  overflow: visible;
  padding: 1rem;
}



.offer-card{
  box-shadow: 0px 1px 10px 1px #0000001A;
  border-radius: 30px;
  background-color:var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  text-align: center;
  height: 30rem;
}

.offer-card:hover{
  transform: scale(1.05);
}

.offer-card:hover img{
  transition: 0.2s ease-in-out;
  transform: scale(1.2);
}

.pro-card{
  padding: 2rem;
  background-color: var(--white);
  height:62rem;
}
#product-eng .row ul>li{
    line-height: 2.4rem;
    color: var(--black);
    font-size: 1.6rem;
    font-weight: var(--regular);
    opacity:0.7;
}

@media(max-width:680px){
  #hero img{
    width: 100% !important;
  }
  #number .border-line{
    border-top:1px dashed rgba(255, 255, 255, 0.5);
    border-bottom:1px dashed rgba(255, 255, 255, 0.5);
    mask-border-repeat:space ;
    border-left: none;
    border-right: none;
  }

  .square-row{
    margin-top: 10rem;
  }
  .sqr2{
    margin-bottom: 10rem;
  }
  /* .round1, .round3 {
    width: 28rem;
  } */
  .round2, .round4{
    /* width: 28rem; */
    margin-top: -12rem;
  }
  .round3{
    margin-top:-9rem;
  }

  .round1, .round2,  .round3,  .round4{
    width: 75vw;
    height: 60vh;
  }
 
}